

<div id="all">
<div>

    <button class="btn btn-primary" id="next">></button>
    <button class="btn btn-primary" id="prev"><</button>
</div>


<div>
    <button id="geo">Geogorian</button>
    <button id="hijr">Hijri</button>
</div>
<p id="en"></p>

<div id="gredet">
<h3 id="dt"></h3>
</div>




<div class="row">
    <div class="col-sm-6">
<table class="table table-hover" id="ge">

    <thead>

        <tr>
            <th id="val"></th>
        </tr>
        <tr class="gg" >
            <th scope=col class="mon">Monday</th>
            <th scope=col class="tue">Tuesday</th>
            <th scope=col class="wed">Wednesday</th>
            <th scope=col class="thurs">Thursday</th>
            <th scope=col class="fri">Friday</th>
            <th scope=col class="sat">Saturday</th>
            <th scope=col class="sun">Sunday</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>
</div>
</div>

<div class="row">
<div class="col-sm-6">
<table class="table table-hover" id="h">
    <thead>
        <tr>
       <th id="v">

        </th>
    </tr>
        <tr >
            <th scope=col class="ath">Al Athnayn "الاثنين"</th>
            <th scope=col class="thal">Al Thalaata "الثلاثاء"</th>
            <th scope=col class="arba">Al Arba'a "الاربعاء"</th>
            <th scope=col class="khamees">Al Khamees "الخميس"</th>
            <th scope=col class="juma">Al Juma'a "الجمعة"</th>
            <th scope=col class="sabt">Al Sabt "السبت"</th>
            <th scope=col class="ahad">Al Ahad "الاحد"</th>
        </tr>

    </thead>
    <tbody></tbody>
</table>
</div></div>


<div class="row">
    <div class="col-sm-12">
<table class="table" id="my" >
    <thead>
        <th scope=col class="fajr">Fajr</th>
        <th scope=col class="sunr">Sunrise</th>
        <th scope=col class="dhuhr">Dhuhr</th>
        <th scope=col class="asr">Asr</th>
        <th scope=col class="suns">Sunset</th>
        <th scope=col class="maghrib">Maghrib</th>
        <th scope=col class="isha">Isha</th>
        <th scope=col class="midn">Midnight</th>
        <th scope=col class="imsak">Imsak</th></thead>
    <tbody>
    
    </tbody>
</table>
</div></div>
</div>



